p,
a,
h1,
h2,
h3,
ul {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

body,
header {
  margin: 20px;
}

a {
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: gray;
}

li {
  display: flex;
  justify-content: space-between;
}

img {
  width: 30%;
  height: 300px;
}
